<table>
  <th id="headerTag">
    Actividades
  </th>
  <th id="headerTag">
    Tiempo y participante
  </th>
  <th id="headerTag">
    Instrucciones
  </th>
  <th id="headerTag">
    Hoja de respuestas
  </th>
  <th id="headerTag">
    Material
  </th>
  {{#each activities}}
  {{#if visible}}
  <tr>
    <td>
      {{name}}
    </td>
    <td class="participants">
      <img align="left" src="img/tiempo.png"> {{duration}} <br>
      <img align="left" src="img/participantes.png"> {{participants}}
    </td>
    <td>
      {{#if instructions}}
      <a href="{{instructions}}" id="{{title}}|{{name}}|Instrucciones" onClick="myFunction(this)">
        <img src="img/instrucciones.png"></a>
      {{/if}}
    </td>
    <td>
      {{#if answers}}
      <a href="{{answers}}" id=" {{title}}|{{name}}|Respuestas" onClick="myFunction(this)">
        <img src=" img/instrucciones.png"> </a> </td>
    {{/if}}
    <td>
      <ul>
        {{#each links as |link linkID|}}
        {{#if link}}
        <a href="{{link}}" id=" {{../title}}|{{../name}}|Link {{linkID}}" onClick="myFunction(this)">
          <img id="linkIcon" src="img/{{linkID}}.png"></a>
        {{/if}}
        {{/each}}
      </ul>
    </td>
  </tr>
  {{/if}}
  {{/each}}
</table>

<script>
  function myFunction(received) {
    alert(received.id);
  }
</script>