<table>
  <th>
    Actividades
  </th>
  <th>
    Tiempo y participante
  </th>
  <th>
    Instrucciones
  </th>
  <th>
    Hoja de respuestas
  </th>
  <th>
    Material
  </th>
  {{#each activities}}
  {{#if visible}}
  <tr>
    <td>
      {{name}}
    </td>
    <td>
      <img src="img/tiempo.png"> {{duration}} <br>
      <img src="img/participantes.png"> {{participants}}
    </td>
    <td>
      <a href="{{instructions}}" id="{{title}}|{{name}}|Instrucciones" onClick="myFunction(this)">
        <img src="img/instrucciones.png"></a>
    </td>
    <td>
      <a href="{{answers}}" id=" {{title}}|{{name}}|Respuestas" onClick="myFunction(this)">
        <img src=" img/instrucciones.png"> </a> </td>
    <td>
      <ul>
        {{#each links as |link|}}
        <a href="{{link}}" id=" {{title}}|{{name}}|{{link}}" onClick="myFunction(this)">
          <img id="linkIcon" src="img/0.png"></a>
        {{/each}}
      </ul>
    </td>
  </tr>
  {{/if}}
  {{/each}}
</table>

<script>
  function myFunction(received) {
    alert(received.id);
  }
</script>